python-telegram-bot[job-queue]==21.10
deep-translator==1.11.4
deepl==1.21.0
python-dotenv==1.0.1
numpy==2.2.2
ftfy==6.3.1
pysbd==0.3.4
requests==2.32.3
pillow==11.1.0
regex==2024.11.6
asyncpg==0.30.0
lxml==5.3.0

# twitter
sentencepiece==0.2.0
python-twitter-v2==0.9.2

# test
pytest==8.3.4
pytest-asyncio==0.25.3