python-telegram-bot[job-queue]==20.7
deep-translator==1.11.4
deepl==1.16.1
psycopg2-binary==2.9.9
python-dotenv==1.0.0
tweepy==4.14.0
#PyTweet==1.3.6 #archived, switch to tweepy (also supports mediagroups)
orjson==3.9.10
CairoSVG==2.7.1
numpy==1.26.3
ftfy==6.1.3
httpx==0.26.0
pysbd==0.3.4
requests==2.31.0