python-telegram-bot[job-queue]==22.7
python-dotenv==1.2.2
numpy==2.4.3
ftfy==6.3.1
pysbd==0.3.4
pillow==12.1.1
regex==2026.2.28
lxml==6.0.2
httpx==0.28.1
yt-dlp==2026.3.13

# translation
deep-translator==1.11.4
deepl==1.28.0

# social
python-twitter-v2==0.9.3
pywa==3.9.0

# testing
pytest==8.0.0
pytest-asyncio==0.23.2
